* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* #nav {
    width: 1436px;

} */

#nav .nav-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;

}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}

.btn {
    padding: 8px 18px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #30B868;
    border-collapse: collapse;
    cursor: pointer;
    border-style: none;
}

#banner {

    background-image: url(assets/hero-bg.png);
    margin: 0 auto;
    height: 674px;
}

#banner .banner-container {
    width: 1360px;
    text-align: center;
    align-items: center;
    padding: 115px 120px 180px;

}

#banner .banner-container .access-button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    color: #30B868;
    border-radius: 50px;
    margin-bottom: 16px;
}

.banner-container .white {
    color: #FFFFFF;
    font-size: 45px;

}

.banner-container .green {
    font-size: 45px;
    color: #30B868;
}

.banner-content p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
}

.banner-content .button {
    gap: 20px;
}

.button .start-btn {
    padding: 12px 18px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #30B868;
    border-collapse: collapse;
    cursor: pointer;
    border-style: none;
}

.button .start-btn i {
    margin-left: 8px;
}

.button .work-btn {
    padding: 10px 16px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.button .work-btn i {
    margin-right: 8px;
}

#note {
    /* padding: 0 120px 120px 120px; */

    gap: 44px;
    display: flex;
    justify-content: center;
}

.note-container {
    max-width: 1360px;
    padding: 0 120px 0;

}

.note-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;

}

.note-content h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #001931;
}


.note-content p {
    font-size: 1rem;
    line-height: 20px;
    color: #627382;
}

.note-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.note-card {

    align-items: center;
    text-align: center;
    padding: 24px;
    border: none;
    /* width: 300px;
    height: 300px; */
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;


}

.note-card img {
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50%;
    height: 32px;
    width: 32px;

}

.note-card h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 16px;
}

.note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;


}

.brain-container {
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    text-align: left;
    padding: 80px 120px 0 120px;
    margin: 0 auto;
}

.solution .green-text {
    font-size: 16px;
    line-height: 20px;
    color: #30B868;
}

.solution h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
}

.solution .gray-text {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.idea p {
    display: flex;
    align-items: center;
    gap: 16px;
}



#think {
    padding: 80px 155px 0px;
}

#think .think-container {
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 60px 20px;
    border-radius: 12px;
}

.think-content {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 25px;


}

.think-content h2 {
    font-size: 40px;
    font-weight: 700;
}

.think-content p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}

.think-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.think-button .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
}

.think-button p {
    font-size: 16px;
    color: #627382;
}

#footer {
    background-color: rgba(0, 10, 49, 1);
    color: #FFFFFF;
    padding: 80px 150px 40px;
    margin-top: 120px;
}

#footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    /* color: #FFFFFF; */
    gap: 40px;

}

#footer .social-link {

    gap: 16px;
    align-items: center;
}

#footer .social-link img {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;


}


#footer .copyright {

    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    color: #999;
}