body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* width: 100%; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border: 1px solid #E0E0E0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 35px;
    font-size: 25px;
    font-weight: 500;
}

.btn {
    padding: 5px 25px;
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 18px;
    border-collapse: collapse;
    cursor: pointer;

}

#banner {
    height: 450px;
    background-image: url('assets/hero-bg.png');
    /* background-size: cover; */
    /* background-position: center; */
    align-items: center;
    text-align: center;
    padding-top: 80px;

}

.access-button {
    background-color: #FFFFFF;
    color: #30B868;
    border: none;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 15px;
}

.banner-content h1 {
    font-size: 3em;
    /* font-weight: 700; */
    /* margin-bottom: 10px; */
}

.banner-content .white {
    color: #FFFFFF;
}

.banner-content .green {
    color: #30B868;
}

.banner-content p {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin: 0 auto 25px;
}

.white-button {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 5px 25px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 15px;

}

#note {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding: 30px 120px;
}



.note-box img {
    background-color: #F95555;
}

#note .note-content {
    justify-content: center;
    text-align: center;
}

.note-content h2 {
    font-size: 48px;
    font-weight: bold;
}

.note-content p {
    gap: 16px;
    color: #627382;
}

.note-box {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin-top: 40px; */
    /* margin-bottom: 30px; */
}

.note-card {
    width: 250px;
    height: 250px;
    border: 1px solid #627382;
    border-radius: 10px;
    padding: 24px;
    text-align: center;
    border-collapse: collapse;
    gap: 30px;
}

.note-card h2 {
    font-size: 24px;
    font-weight: 600;
}

.note-card p {
    font-size: 16px;
    color: #627382;
    margin-top: 10px;
}

.note-card img {
    background-color: #F95555;
    border-radius: 50%;
}

#second-brain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 120px;
}

.brain-content h5 {
    color: #30B868;
    font-size: 16px;
    font-weight: 350;
}

.brain-content h2 {
    font-size: 48px;
    font-weight: 500;
}

.banner-content p{
    color: #627382;
}

.access-content{
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.access-content h2{
    font-size: 40px;
    font-weight: 700;
}
.access-content p{
    color: #627382;
    font-size: 16px;
}
.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #053b69;
    padding:#053b69;
}
.ftr-content{
    text-align: center;
    color: white;
}
