* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* #nav {
    width: 1436px;

} */

#nav .nav-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;

}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}

.btn {
    padding: 8px 18px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #30B868;
    border-collapse: collapse;
    cursor: pointer;
    border-style: none;
}

#banner {
   
    background-image: url(assets/hero-bg.png);
    margin: 0 auto;
    height: 674px;
}

#banner .banner-container {
    width: 1360px;
    text-align: center;
    align-items: center;
    padding: 115px 120px 180px;

}

#banner .banner-container .access-button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    color: #30B868;
    border-radius: 50px;
    margin-bottom: 16px;
}

.banner-container .white {
    color: #FFFFFF;
    font-size: 45px;

}

.banner-container .green {
    font-size: 45px;
    color: #30B868;
}

.banner-content p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
}

.banner-content .button{
    gap: 20px;
}
.button .start-btn{
    padding: 12px 18px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #30B868;
    border-collapse: collapse;
    cursor: pointer;
    border-style: none;
}

.button .start-btn i{
    margin-left: 8px;
}

.button .work-btn{
    padding: 10px 16px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.button .work-btn i{
    margin-right: 8px;
}

.note-container{
  width: 1360px;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}